@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap");

body {
  background-color: #f2f2f2;
  font-family: "Poppins", serif;
}
button {
  cursor: pointer;
}
